.ninjaRanks {
    background-color: darkslategray;
    margin: auto 100px;
    border: 2px solid rgb(28, 43, 43);
    border-radius: 10px / 5px;
    overflow: hidden;
    color: white;
    padding: 10px;
    transition: transform .2s;
}

.ninjaRanks:hover {
    transform: scale(1.02);
}